.background {
  height: 1000px;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 100px;
  width: 50%;
  height: 550px;
  background-color: #e8cdbf;
  border-radius: 25px;
  border: 3px solid #69241f;
}

.character img {
  width: 200px;
  border-radius: 5px;
  border: 2px solid #7a2620;
  margin-bottom: 30px;
}

.character span {
  text-align: center;
  color: #69241f;
  font-size: 18px;
  font-stretch: wider;
  padding-top: 5px;
}

.character span:first-child {
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 50px;
  font-weight: bold;
  color: #d1584f;
  letter-spacing: 5px;
}
