.layout {
  margin-right: 30px;
  width: 250px;
  text-align: center;
  background-color: #e8cdbf;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.layout h1 {
  margin-bottom: 30px;
}

.layout img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #7a2620;
  margin-bottom: 30px;
}

.layout span {
  text-align: center;
  color: #69241f;
  font-size: 18px;
  font-stretch: wider;
  padding-top: 5px;
}

.layout span:first-child {
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 50px;
  font-weight: bold;
  color: #d1584f;
  letter-spacing: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
  background-color: #e4685d;
  border-radius: 5px;
  border: 1px solid #e4685d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 74px;
  text-decoration: none;
  margin-bottom: 10px;
}
.heading {
  text-align: center;
  color: #69241f;
  font-size: 18px;
  font-weight: bold;
  font-stretch: wider;
  margin-bottom: 15px;
  margin-top: 15px;
}
